**/.next
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/node_modules
**/dist
**/build
**/out
**/public
**/static
**/staticfiles
**/staticfiles

**/.DS_Store

**/venv
**/__pycache__

**/db.sqlite3
**/db.sqlite3-journal

**/db.sqlite3-shm
**/db.sqlite3-wal

**/db.sqlite3-lock